#app-stack {
  overflow: hidden;
}

.z-index-100 {
  z-index: 100;
}

.text-white {
  color: white;
}

body {
  background-color: black;
}

#root > div {
  &,
  & .div {
    height: 100%;
  }
}

span,
label,
input {
  color: white !important;
}

input {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
